################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

*.log
/MOD_20/Exersice_2/x64/Debug
/MOD_20/Exersice_3/x64/Debug
/MOD_20/Exersice_1/x64/Debug
*.user
*.filters
/MOD_20/Exersice_4/x64/Debug
/MOD_20/Test
/MOD_20/x64/Debug/Test.exe
/MOD_20/x64/Debug/Test.pdb
/MOD_20/.vs/MOD_20/v17
/.vs
/MOD_20/.vs/MOD_20/FileContentIndex
/MOD_21/.vs/MOD_21
/MOD_21/Test/x64/Debug/Test.tlog
/MOD_21/Test/x64/Debug
/MOD_21/Exersice_1/x64/Debug
/MOD_21/MOD_21.sln
/MOD_21/Exersice_2/x64/Debug
/MOD_21/Exersice_3/x64/Debug/Exersice_3.tlog
/MOD_21/Exersice_3/x64/Debug
/MOD_21/x64/Debug
/MOD_22/.vs/MOD_22
*.sln
/MOD_22/Exersice_1/x64/Debug
/MOD_22/Test/x64/Debug
/MOD_22/x64/Debug
/MOD_22/Exersice_2/x64/Debug
/MOD_22/Exersice_3/x64/Debug
/MOD_23/Test/x64/Debug
/MOD_23/x64/Debug
/MOD_23/.vs/MOD_23
/MOD_23/Exersice_1/x64/Debug
/MOD_23/Exersice_3/x64/Debug
/MOD_23/Exersice_2/x64/Debug
/MOD_24/.vs
/MOD_24/Test
/MOD_24/x64/Debug
/MOD_24/Exersice_1/x64/Debug
/MOD_24/Exersice_2/x64/Debug/Exersice_2.tlog
/MOD_24/Exersice_2/x64/Debug
/MOD_24/Exersice_3/x64/Debug/Exersice_3.tlog
/MOD_24/Exersice_3/x64/Debug
/MOD_25/.vs/MOD_25/FileContentIndex
/MOD_25/out/build/x64-debug
/MOD_25/Test
/MOD_25/x64/Debug
/MOD_25/Exersice_2/x64/Debug/Exersice_2.tlog
/MOD_25/Exersice_2/x64/Debug
/MOD_25/Exersice_1/x64/Debug/Exersice_1.tlog
/MOD_25/Exersice_1/x64/Debug
/MOD_25/.vs/MOD_25/v17
/MOD_25/.vs
/MOD_25/build
/MOD_26/Exersice_1/x64/Debug
/MOD_26/.vs/MOD_26
/MOD_26/x64/Debug
/MOD_27/.vs/MOD_27
